<section class="bg-dark" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">The RDP Settlement Notification Center provides subscribers visibility into active settlements and potential new settlements categorized by states into channels within the Discord application. Settlement alerts are aggregated and filtered from a variety of different sources. The primary goal of the community is to prevent consumers from missing out on settlements and to reduce the amount of time needed to spend applying to settlements.</p>
                <a href="https://whop.com/rdp-settlements/" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
