<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Real Dark Planet Settlements</h1>
            <hr>
            <p> Our platform lets members stay informed about ongoing class action lawsuits related to data privacy violations. We provide updates on the progress of these cases and allow you to join in the legal action as a plaintiff, potentially generating additional income from settlements you rightfully deserve. </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
